<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
    <head>
        {% block head %}
            <title>{% block title %}{% endblock title %}</title>
            {% block meta %}
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            {% endblock meta %}

        {% endblock head %}
    </head>

    <body>
        {% block body %}
            <div class="container body">
                {% block top %}
                {% endblock top %}

                {% block content %}
                {% endblock content %}

                {% block footer %}
                {% endblock footer %}
            </div>

            {% block scripts %}
            {% endblock scripts %}

        {% endblock body %}
    </body>
</html>